<section class="bg-primary" id="career">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 lead">
                <h2 class="section-heading text-center">CƠ HỘI NGHỀ NGHIỆP</h2>
                <hr class="light">
                    <li>Làm việc trong các tập đoàn lớn của Mỹ, châu Âu, Nhật Bản trong các mảng dự án quốc tế.</li>
                    <li>Là kỹ sư nòng cốt cho các công ty lớn tại Việt Nam hướng tới thị trường nước ngoài.</li>
                    <li>Hưởng mức lương cao hơn hẳn kỹ sư thông thường nhờ khả năng làm việc trực tiếp với đối tác nước ngoài.</li> 
            </div>
        </div>
        <a href="#enroll" class="btn btn-default btn-xl page-scroll col-md-2 col-md-offset-5"><i class="fa fa-arrow-down" aria-hidden="true"></i></a>
    </div>
</section>