<section id="contact" class="bg-danger">
    <div class="container">
        <div class="row lead">
            <div class="col-lg-8 col-lg-offset-2 text-center" style="margin-bottom: 20px;">
                <h2 class="section-heading">Liên hệ</h2>
                <hr class="primary">
                <p>Nếu bạn có thắc mắc hoặc cần thêm tư vấn, hãy liên hệ ngay với chúng tôi:</p>
            </div>
            <div class="col-md-4 text-center">
                <a target="_blank" href="https://www.google.com/maps/place/Vi%E1%BB%87n+C%C3%B4ng+Ngh%E1%BB%87+Th%C3%B4ng+Tin+Truy%E1%BB%81n+Th%C3%B4ng+-+%C4%90%E1%BA%A1i+H%E1%BB%8Dc+B%C3%A1ch+khoa+H%C3%A0+n%E1%BB%99i/@21.0044304,105.8444092,17z/data=!3m1!4b1!4m5!3m4!1s0x3135ac76827aaaab:0xf0580eb2ff0e1b64!8m2!3d21.0044304!4d105.8465979">
                    <i class="fa fa-map-marker fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p><b>Văn phòng:</b> B1-504, ĐH Bách Khoa Hà Nội</p>
                </a>
            </div>
            <div class="col-md-4 text-center">
                <a href="mailto:{{ site.email }}">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p><b>Email:</b> {{ site.email }}</p>
                </a>
            </div>
            <div class="col-md-4 text-center">
                <a target="_blank" href="https://fb.com/groups/promo.ict.hust/">
                    <i class="fa fa-facebook-square fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p><b>Facebook:</b> fb.com/groups/promo.ict.hust/</p>
                </a>
            </div>
        </div>
</section>
<footer class="bg-dark">
    <div class="container text-center">
        <p style="margin-top: 10px;">Designed by GLOBAL ICT 2017</p>
    </div>
</footer>
