<section id="enroll" class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center" style="margin-bottom: 20px;">
                <h2 class="section-heading">Tuyển sinh</h2>
                <hr class="primary">
            </div>
        <div class="col-md-4 text-center">
            <h2>Chỉ tiêu tuyển sinh</h2>
            <p class="lead wow" style="color: #198AFF; font-size: 60px">200</p>
            <p>(* Cùng với chương trình Việt-Nhật)</p>
        </div>
        <div class="col-md-4 text-center">
            <h2>Mã đăng ký xét tuyển</h2>
            <p class="lead wow" style="color: #198AFF; font-size: 60px">TT22</p>
            <p>(* Điểm xét tuyển năm 2016: 7.53/10)</p>
        </div>
        <div class="col-md-4 text-center">
            <h2>Website tuyển sinh</h2>
            <a href="http://www.soict.hust.edu.vn" class="lead wow" style="color: #198AFF;">http://www.soict.hust.edu.vn</a><br>
            <a href="http://ts.hust.edu.vn" class="lead wow" style="color: #198AFF;">http://ts.hust.edu.vn</a>
        </div>

    </div>
</section>