<section id="exchange-scholarship" class="bg-danger">
    <div class="container">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">CƠ HỘI TRAO ĐỔI - HỌC BỔNG</h2>
            <hr class="primary">
        </div>
        <div class="lead col-md-8 col-md-offset-2">
            <li>Hàng năm đều có rất nhiều chương trình học trao đổi 1 học kỳ với các trường đại học của Đức, Thụy Điển, Nhật, Canada.</br>
                <a href="http://soict.hust.edu.vn/index.php/2016-09-21-19-14-22/cac-chuong-trinh-trao-doi">&#10148; Một số chương trình trao đổi sinh viên thường niên</a>
            </li></br>
            <li>Hàng năm, nhiều sinh viên Global ICT được tham gia chương trình đổi văn hoá EBA với Nhật Bản và các nước Asean… với kinh phí được tài trợ.</br>
                <a href="https://www.youtube.com/watch?v=_ldRBnSSQmE&feature=youtu.be">&#10148; Báo cáo của một nhóm sinh viên Global ICT tham dự chương trình EBA</a>
            </li></br>
            <li>Chương trình chuyển tiếp 3+2 với Đại học Aizu, Nhật Bản (đào tạo bằng tiếng Anh).</br>
                <a href="http://soict.hust.edu.vn/index.php/tin-tuc/hop-tac/1071-aizu-2016">&#10148; Khóa
                        sinh viên đầu tiên tham gia chương trình chuyển tiếp 3+2 với Đại học Aizu, Nhật Bản</a>
            </li></br>
            <li>Cơ hội học tập tiếp ở bậc cao học, tiến sỹ tại các nước phát triển như Phần Lan, Nhật Bản, Đức, Úc, Mỹ … mà không cần thi tiếng Anh.</br>
                <a href="http://soict.hust.edu.vn/index.php/tin-tuc/hop-tac/1027-cac-ho-t-d-ng-trao-d-i-h-p-tac-qu-c-t-c-a-chuong-trinh-dao-t-o-ict">&#10148; Các hoạt động hợp tác quốc tế của chương trình Global ICT</a>
            </li></br>
        </div>
        <style type="text/css">
            #vaslide01 img {
                width: 350px;
                height: 200px;
            }
            
            #vaslide01 {
                height: 320px;
            }

            #vaslide01 .carousel-control {
                background: none;
            }

            @media (min-width: 992px ) {
                .carousel-inner .active.left {
                    left: -30%;
                }
                .carousel-inner .next {
                    left:  30%;
                }
                .carousel-inner .prev {
                    left: -30%;
                }
            }

            @media (min-width: 768px) and (max-width: 991px ) {
                .carousel-inner .active.left {
                    left: -33.3%;
                }
                .carousel-inner .next {
                    left:  33.3%;
                }
                .carousel-inner .prev {
                    left: -33.3%;
                }
                .active > div:first-child {
                    display:block;
                }
                .active > div:first-child + div {
                    display:block;
                }
                .active > div:last-child {
                    display:none;
                }
            }

            @media (max-width: 767px) {
                .carousel-inner .active.left {
                    left: -100%;
                }
                .carousel-inner .next {
                    left:  100%;
                }
                .carousel-inner .prev {
                    left: -100%;
                }
                .active > div {
                    display:none;
                }
                .active > div:first-child {
                    display:block;
                }
            }

        </style>
        <div class="col-md-12" id="vaslide01">
            <div class="container text-center">
                <div class="carousel slide row" data-ride="carousel" data-type="multi" data-interval="3500" id="picscarousel">
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <img src="img/img_4395.jpg" title="Lục Quốc Quyền, ICT-54 đang học Master tại Phần Lan">
                                <p style="text-align: center;"> Quyền, ICT-54 đang học Master tại Phần Lan</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <img src="img/traodoi2.jpg">
                                <p style="text-align: center;">
                                    Hoàng Anh, ICT-58 chuyển tiếp tại Aizu, Nhật </p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <img src="img/traodoi1.jpg">
                                <p style="text-align: center;"> Trung, Hoàn ICT-54 học Master tại Phần Lan </p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <img src="img/traodoi7.jpg">
                                <p style="text-align: center;"> Sinh viên ICT-54 học Master tại Phần Lan </p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <img src="img/canh_dep_aizu.jpg">
                                <p style="text-align: center;"> Nhóm sinh viên ICT-58 chuyển tiếp tại Nhật </p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <img src="img/baoveICT56.jpg">
                                <p style="text-align: center;"> SV trao đổi Elena và các bạn ICT-56 sau bảo vệ
                                </p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <img src="img/Hao_ICT56.jpg">
                                <p style="text-align: center;">Hảo, ICT-56 đang làm việc tại Rakuten, Nhật Bản</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <img src="img/linhtranICT56_2.jpg">
                                <p style="text-align: center;"> Tuấn Linh, ICT-58 học trao đổi tại Thụy điển</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <img src="img/traodoi6.jpg">
                                <p style="text-align: center;"> Lớp học Robot với SV Nhật </p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <img src="img/co_hoi_hoc_bong_trao_doi_eba.jpg">
                                <p style="text-align: center;"> Chương trình trao đổi EBA</p>
                            </div>
                        </div>
                    </div>
                    <a class="left carousel-control" href="#picscarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
                    <a class="right carousel-control" href="#picscarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
