<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>HUST ICT PROGRAM</h1>
            <hr>
            <p>CHƯƠNG TRÌNH ĐÀO TẠO KỸ SƯ TOÀN CẦU VỀ CÔNG NGHỆ THÔNG TIN</p>

        		<img class="img-responsive img-thumbnail" src="img/robot_SIT_HUST_2017.jpg" style="height:200px;">
                <img class="img-responsive img-thumbnail" src="img/robot_SIT_HUST_2017_2.jpg" style="height:200px;">
        		<img class="img-responsive img-thumbnail" src="img/robot_SIT_HUST_2017_3.jpg" style="height:200px;">


            <a href="#about" class="btn btn-primary btn-xl page-scroll" style="margin: 20px">Tìm hiểu thêm</a>
        </div>
    </div>
</header>
