<section id="international-learning" class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">MÔI TRƯỜNG HỌC TẬP QUỐC TẾ</h2>
                <hr class="primary">
            </div>
        </div>
        <div class="col-md-8 col-md-offset-2 lead">
            <p><li>Chương trình thường xuyên tiếp nhận sinh viên quốc tế từ <b>Nhật (2), Úc (1), Đức (2), Tây Ban Nha (1), Indonesia (1), Hàn Quốc (1)</b> học trao đổi về học toàn bộ chương trình.</li>
            <li>Chương trình thường xuyên tổ chức các khóa học với giảng viên nước ngoài từ <b>ĐH Iowa (Mỹ), ĐH Uppsala (Thụy Điển), KAIST (Hàn Quốc), Shibura (Nhật), ĐH Turku (Phần Lan) ...</b></li>
            </p>
            <a href="http://soict.hust.edu.vn/index.php/tin-tuc/hop-tac/1027-cac-ho-t-d-ng-trao-d-i-h-p-tac-qu-c-t-c-a-chuong-trinh-dao-t-o-ict" target="_blank" class="text-center" style="margin-top: 20px;">&#10148; Xem thêm các hoạt động hợp tác của chương trình GLOBAL ICT</a>
        </div>
    </div>
</section>