<section id="learning-program" class="bg-danger">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">CHƯƠNG TRÌNH HỌC</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center wow bounceIn">
                <div class="service-box">
                    <i class="fa fa-4x fa-language wow bounceIn text-primary"></i>
                    <h3>HỌC BẰNG TIẾNG ANH</h3>
                    <p class="text-muted">Tăng cường học tiếng Anh ngay từ năm đầu. Từ năm hai, sinh viên được học các môn chuyên ngành bằng tiếng Anh.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-globe wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>CHƯƠNG TRÌNH THEO CHUẨN QUỐC TẾ</h3>
                    <p class="text-muted">Chương trình học chuẩn quốc tế với thời gian thực hành tại phòng lab tương đương thời gian học lý thuyết.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-graduation-cap wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>CHƯƠNG TRÌNH HỌC ĐA DẠNG</h3>
                    <p class="text-muted">Chương trình học bao quát từ những kiến thức cơ bản về CNTT cho đến những kiến thức chuyên sâu về phát triển, quản trị dự án phần mềm.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-window-restore wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>CƠ HỘI NGHIÊN CỨU, THỰC TẬP</h3>
                    <p class="text-muted">Cơ hội thực tập tại doanh nghiệp ngay từ năm thứ 3 và làm nghiên cứu với giảng viên từ năm thứ 4.</p>
                </div>
            </div>
        </div>
        <a href="http://soict.hust.edu.vn/files/bieumau/ICTprogram_update_25Oct2016.pdf" target="_blank" class="lead">&#10148; Chi tiết chương trình học</a>
        </br>
    </div>
    <a href="#international-learning" class="btn btn-default btn-xl page-scroll col-md-2 col-md-offset-5"><i class="fa fa-arrow-down" aria-hidden="true"></i></a>
</section>
