<!-- jQuery -->
<script src="{{site.url}}{{site.baseurl}}/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{site.url}}{{site.baseurl}}/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="{{site.url}}{{site.baseurl}}/js/jquery.easing.min.js"></script>
<script src="{{site.url}}{{site.baseurl}}/js/jquery.fittext.js"></script>
<script src="{{site.url}}{{site.baseurl}}/js/wow.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="{{site.url}}{{site.baseurl}}/js/creative.js"></script>

<script type="text/javascript">
	jQuery(document).ready(function() {
        
	    jQuery('.carousel[data-type="multi"] .item').each(function(){
	        var next = jQuery(this).next();
	        if (!next.length) {
	            next = jQuery(this).siblings(':first');
	        }
	        next.children(':first-child').clone().appendTo(jQuery(this));
	      
	        for (var i=0;i<1;i++) {
	            next=next.next();
	            if (!next.length) {
	                next = jQuery(this).siblings(':first');
	            }
	            next.children(':first-child').clone().appendTo($(this));
	        }
	    });
	});
</script>
