<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">GLOBAL ICT PROGRAM</h2>
                <hr class="light">
                <p class="text-faded">Chương trình đào tạo Kỹ sư toàn cầu về CNTT (Global ICT) bắt đầu từ năm 2009, đến nay đã có 3 khóa sinh viên ra trường. Mục tiêu của chương trình là đào tạo kỹ sư toàn cầu giỏi cả về CNTT và tiếng Anh để đóng vai trò dẫn dắt kết nối thị trường CNTT Việt Nam với các thị trường quốc tế.</p>
                <a href="#services" class="btn btn-default btn-xl page-scroll">Chúng tôi có gì?</a>
            </div>
        </div>
    </div>
</section>
